:host {
  display: block;
  height: 100%;
}

.product-page-container {
  height: 100%;
  background-color: #eee;
}

mat-sidenav {
  width: 280px;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

mat-sidenav-content {
  padding: 24px;
}
